@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Lexend', arial, sans-serif;
  color: #183059;
  margin: 2em;
  background-color: #7CC6FE;
}

.entry {
  width: window;
  border-radius: 10px;
  font-size: 1.2vw;
  margin: 25px;
  padding: 20px;
  background-color: #C4FFB2;
  box-shadow: 3px 3px 5px slategray;
  /*overflow sets the height of the parent div to reflect the height of the children divs*/
  overflow: auto;
  
}

.float-img {
  width: 23%;
  float: left;
}

.float-text {
  width: 75%;
  float: right;
  margin-left: 15px;

}

.float-pros {
  width: 40%;
  float: left;
  padding-left: 15px;

}

.float-cons {
  width: 50%;
  float: right;
}

img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h1 + h3 {
  text-align: center;
}

h4 {
  text-align: center;
}


